.calcite .aboutDialogHeader {
	font-weight:700;
	margin:10px 0;
}

.calcite .aboutDialogContent,.calcite .drawerOpen .aboutDialogContent {
	margin:0;
	padding:0;
	max-height:400px;
	max-width:510px!important;
	min-width:240px!important;
	word-wrap:break-word;
}

.calcite .aboutDialogContent .headerNodeDescription {
	margin:0 0 5px;
	font-weight:700;
	font-size:18px;
}

.calcite .aboutDialogContent .moreInfo {
	padding-bottom:40px;
}

.calcite .aboutDialogContent .nodeDescription {
	margin:0 0 20px;
}