html,body,#mapDiv {
	padding:0;
	margin:0;
	height:100%;
	font-family:Arial,Helvetica,sans-serif;
}

.esriRtl label {
/*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}

#renderer_menu {
	position:absolute;
	z-index:99;
	top:20px;
	right:20px;
	text-align:center;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	display: none;
}

.summarize{
    text-align:center;
	display:block;
	color:#fff;
	background-color:#333;
	background-color:rgba(51,51,51,0.85);
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:5px 10px;
	margin: 10px 0;
	cursor: pointer;
}

.menuList{
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    background:rgba(0,0,0,0.85);
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}


#renderer_menu .title {
	padding:10px;
	color:#fff;
	font-weight:700;
	background:rgba(51,51,51,0.9);
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

#renderer_menu li {
	padding:5px 10px;
	cursor:pointer;
	color:#fff;
	margin: 0;
}

#renderer_menu #selectAll {
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}

#renderer_menu li:hover {
	background:rgba(255,255,255,0.10);
	color:#fff;
}


#renderer_menu .selected, #renderer_menu .selected:hover, #renderer_menu .selected:active {
	background:#4266c1;
	color:#fff;
	cursor:default;
}

.geoData {
	position:absolute;
	z-index:99;
	bottom:30px;
	width: 100%;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	display:none;
	text-align:center;
}

.geoData table {
	padding:0;
	margin:0;
	text-align:center;
	display:inline-block;
	border-collapse:collapse;
	border:0;
}

.geoData tr td {
	padding:5px;
	margin:0;
	text-align:left;
	border:0;
	border-bottom:1px solid #333;
}

.geoData tr .last {
	border-bottom:0;
}

.geoData .panel {
	text-align:center;
	display: inline-block;
	color:#fff;
	padding:20px;
	margin:10px;
	background-color:#333;
	background-color:rgba(51,51,51,0.85);
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor: pointer;
}

.geoData .panel-expanded {
	text-align:center;
	display: inline-block;
	color:#fff;
	padding:20px;
	margin:10px;
	background-color:#333;
	background-color:rgba(51,51,51,0.85);
	-webkit-border-radius:5px;
	border-radius:5px;
	display: none;
	cursor: pointer;
}



.geoData .count {
	font-size:24px;
	font-weight:700;
	margin:0;
	padding:0;
}

.geoData .title {
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:700;
}

.clear {
	clear:both;
}