@media screen and (max-width:850px) {
	.geoData .panel .title {
		margin:0;
		padding:3px 15px !important;
		font-size:14px;
	}
	.geoData .panel .count {
		padding:12px 8px !important;
		font-size:25px !important;
	}
	.divSliderContent {
		width:378px !important;
	}
	.divGeoDataHolder div {
		width:126px;
	}
	.divGeoDataHolder .title, .divGeoDataHolder .count {
		width:80px !important;
		margin-left:35px;
	}
	.divGeoDataHolder .count {
		font-size:24px !important;
	}
}
@media screen and (max-width:800px) {
	.geoData .panel .title {
		margin:0;
		padding:3px 15px !important;
		font-size:14px;
	}
	.geoData .panel .count {
		padding:12px 8px !important;
		font-size:25px !important;
	}
	.divSliderContent {
		width:378px !important;
	}
	.divGeoDataHolder div {
		width:126px;
	}
	.divGeoDataHolder .title, .divGeoDataHolder .count {
		width:80px !important;
		margin-left:35px;
	}
	.divGeoDataHolder .count {
		font-size:24px !important;
	}
	#title {
		display:none;
	}
}
@media screen and (max-width:780px) {
	.geoData .panel .count {
		padding:12px 5px !important;
		font-size:20px !important;
	}
	.divGeoDataHolder .count {
		font-size:22px !important;
	}
	.divGeoDataHolder .title {
		font-size:12px !important;
	}
	.geoData .panel .title {
		padding:3px 10px !important;
		font-size:14px !important;
	}
	.divSliderContent {
		width:342px !important;
	}
	.divGeoDataHolder div {
		width:114px !important;
	}
	.divGeoDataHolder .title, .divGeoDataHolder .count {
		width:80px !important;
		margin-left:30px !important;
	}
}
@media screen and (max-width:730px) {
	.geoData .panel .count {
		padding:15px 3px !important;
		font-size:15px !important;
	}
	.geoData .panel .title {
		padding:3px 10px !important;
		font-size:12px !important;
	}
	.divSliderContent {
		width:290px !important;
	}
	.divGeoDataHolder div {
		width:97px !important;
	}
	.divGeoDataHolder .title, .divGeoDataHolder .count {
		margin-left:10px !important;
		width:70px !important;
	}
	.divGeoDataHolder .title {
		font-size:12px !important;
	}
	.divGeoDataHolder .count {
		font-size:20px !important;
	}
}
@media screen and (max-width:680px) {
	.geoData .panel .title {
		padding:4px 8px !important;
		font-size:10px !important;
	}
	.divSliderContent {
		width:240px !important;
	}
	.divGeoDataHolder div {
		width:80px !important;
	}
	.divGeoDataHolder .title {
		width:50px !important;
		font-size:11px !important;
	}
	.divGeoDataHolder .count {
		font-size:18px !important;
	}
}
@media screen and (max-width:600px) {
	.geoData .panel .title {
		padding:3px 7px !important;
		font-size:10px !important;
	}
	.divSliderContent {
		width:228px !important;
	}
	.divGeoDataHolder div {
		width:76px !important;
	}
	.divGeoDataHolder .count {
		font-size:15px !important;
	}
	.divGeoDataHolder .title, .divGeoDataHolder .count {
		margin-left:10px !important;
		width:50px !important;
	}
	.divGeoDataHolder .title {
		font-size:10px !important;
	}
	.esriSimpleSlider, #mapButtons, #BasemapToggle, #title, .esriAttribution, .locateBox {
		display:none !important;
	}
	.mobileLocateBoxDisplay {
		display:block !important;
	}
	#mobileGeocoderIcon, #geocoderMobile {
		display:block !important;
	}
	.geocoderSearch {
		display:none !important;
	}
	#geocoderMobile .esriGeocoderContainer {
		width:190px !important;
	}
	#geocoderMobile .esriGeocoder input {
		width:70% !important;
	}
}
@media screen and (max-width:595px) {
	.geoData {
		display:none !important;
	}
}
@media screen and (max-width:580px) {
	.geoData, .topMenuRight, #mobileSearch {
		display:none !important;
	}
}
