

@media screen and (max-width:850px) {
        .geoData .panel .count {
                padding: 15px 15px !important;
                font-size: 30px !important;
        }
        #cp_outer_left {
                display: none;
        }
        .mobileLocateBoxDisplay {
                display: none !important;
        }
}
@media screen and (max-width:600px) {
        .geoData .panel .title {
                margin: 0;
                padding: 3px 15px !important;
                font-size: 14px;
        }
        .geoData .panel .count {
                padding: 12px 8px !important;
                font-size: 25px !important;
        }

        .divSliderContent {
                width: 378px !important;
        }

        .tblSlide div {
                width: 126px;
        }

        .tblSlide .title, .tblSlide .count {
                width: 80px !important;
                margin-left: 35px;
        }
        #mobileSearch {
                display: none;
        }
}
@media only screen and (max-width:510px) {
        #title {
                display: none;
        }
}

@media screen and (max-width:480px) {
        .esriSimpleSlider, #LocateButton, #HomeButton, #BasemapToggle, #title, .esriAttribution, .locateBox {
                display: none !important;
        }
        .mobileLocateBoxDisplay {
                display: block !important;
        }
        .geoData .panel .count {
                padding: 12px 5px !important;
                font-size: 20px !important;
        }

        .tblSlide .count {
                font-size: 26px !important;
        }

        .tblSlide .title {
                font-size: 12px !important;
        }

        .geoData .panel .title {
                margin: 0;
                padding: 3px 10px !important;
                font-size: 14px !important;
        }

        .divSliderContent {
                width: 342px !important;
        }

        .tblSlide div {
                width: 114px !important;
        }

        .tblSlide .title, .tblSlide .count {
                width: 80px !important;
                margin-left: 30px !important;
        }
        .esriAttribution {
                display: none !important;
        }
        .locateBox {
                display: none !important;
        }
        #mobileGeocoderIcon, #geocoderMobile {
                display: block !important;
        }
        #geocoderMobile .esriGeocoderContainer {
                width: 365px !important;
        }
        #geocoderMobile.esriGeocoder input {
                width: 80% !important;
        }
        #mobileSearch {
                display: none;
        }
}
@media screen and (max-width: 470px) {
        #geocoderMobile .esriGeocoderContainer {
                width: 345px !important;
        }
}
@media screen and (max-width: 450px) {
        .geoData .panel .count {
                padding: 15px 3px !important;
                text-align: center;
                font-size: 15px !important;
        }

        .geoData .panel .title {
                margin: 0;
                padding: 3px 10px !important;
                font-size: 12px !important;
                font-weight: normal;
        }

        .divSliderContent {
                width: 290px !important;
        }

        .tblSlide div {
                width: 97px !important;
        }
        .tblSlide .title, .tblSlide .count {
                margin-left: 10px !important;
                width: 70px !important;
        }
        .tblSlide .title {
                font-size: 12px !important;
        }

        .tblSlide .count {
                font-size: 20px !important;
        }
        #geocoderMobile .esriGeocoderContainer {
                width: 315px !important;
        }
}
@media screen and (max-width: 420px) {
        #geocoderMobile .esriGeocoderContainer {
                width: 295px !important;
        }

}
@media screen and (max-width:400px) {
        .geoData .panel .title {
                margin: 0;
                padding: 4px 8px !important;
                font-size: 10px !important;
                font-weight: normal;
        }

        .divSliderContent {
                width: 240px !important;
        }

        .tblSlide div {
                width: 80px !important;
        }

        .tblSlide .title {
                width: 50px !important;
                font-size: 11px !important;
        }

        .tblSlide .count {
                font-size: 20px !important;
        }
        #geocoderMobile .esriGeocoderContainer {
                width: 270px !important;
        }
}
@media screen and (max-width: 380px) {
        #geocoderMobile .esriGeocoderContainer {
                width: 250px !important;
        }
        #geocoderMobile.esriGeocoder input {
                width: 75% !important;
        }
}
@media screen and (max-width: 360px) {
        #geocoderMobile .esriGeocoderContainer {
                width: 245px !important;
        }
}
@media screen and (max-width: 350px) {
        #geocoderMobile .esriGeocoderContainer {
                width: 225px !important;
        }
        #geocoderMobile .esriGeocoder input {
                width: 75% !important;
        }
}
@media screen and (max-width: 330px) {
        #geocoderMobile .esriGeocoderContainer {
                width: 215px !important;
        }
}
@media screen and (max-width: 320px) {
        .geoData .panel .title {
                margin: 0;
                padding: 3px 7px !important;
                font-size: 10px !important;
        }
        .divSliderContent {
                width: 228px !important;
        }

        .tblSlide div {
                width: 76px !important;
        }
        .tblSlide .count {
                font-size: 15px !important;
        }
        .tblSlide .title, .tblSlide .count {
                margin-left: 10px !important;
                width: 50px !important;
        }
        .tblSlide .title {
                font-size: 10px !important;
        }
        .geocoderSearch {
                display: none !important;
        }
        #geocoderMobile .esriGeocoderContainer {
                width: 200px !important;
        }
        #geocoderMobile .esriGeocoder input {
                width: 70% !important;
        }

}
@media screen and (max-width: 310px) {
        .geoData {
                display: none !important;
        }
        #geocoderMobile .esriGeocoderContainer {
                width: 190px !important;
        }
}
@media screen and (max-device-width: 480px) and (orientation: landscape) {
        .mobileLocateBoxDisplay {
                display: block !important;
        }

        .toggle-grey:hover, .toggle-grey:active {
                color: #999;
        }
        .esriSimpleSlider, #LocateButton, #HomeButton, #BasemapToggle, #title, .geocoderSearch, .locateBox {
                display: none !important;
        }

        .geoData .panel .count {
                padding: 15px 5px !important;
                font-size: 20px !important;
        }

        .tblSlide .count {
                font-size: 26px !important;
        }

        .tblSlide .title {
                font-size: 12px !important;
        }

        .geoData .panel .title {
                margin: 0;
                padding: 5px 10px !important;
                font-size: 14px !important;
        }

        .divSliderContent {
                width: 342px !important;
        }

        .tblSlide div {
                width: 114px !important;
        }

        .tblSlide .title, .tblSlide .count {
                width: 80px !important;
                margin-left: 30px !important;
        }
        #geocoderMobile .esriGeocoder {
                height: 35px;
        }
        #mobileGeocoder, #mobileGeocoderIcon {
                display: block !important;
        }
        #geocoderMobile .esriGeocoderContainer {
                width: 440px !important;
        }
        #geocoderMobile .esriGeocoder input {
                width: 86% !important;
                line-height: 30px;
        }
        #geocoderMobile .esriGeocoderIcon {
                margin: 9px 4px 0px 4px !important;
        }
        .esriAttribution {
                display: none !important;
        }
        #cp_outer_left {
                display: none;
        }

        .geoData {
                bottom: 5px !important;
        }
        .tblSlide {
                margin-top: 15px !important;
        }
        .divPagination {
                visibility: hidden;
        }
        #mobileSearch {
                height: 36px !important;
        }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
        .mobileLocateBoxDisplay {
                display: block !important;
        }
        .divLeft, .divRight {
                width: 34px !important;
        }
        .esriSimpleSlider, #LocateButton, #HomeButton, #BasemapToggle, #title, .geocoderSearch {
                display: none !important;
        }

        .geoData .panel .count {
                padding: 12px 5px !important;
                font-size: 15px !important;
        }
        .geoData .panel .title {
                margin: 0;
                padding: 6px 6px !important;
                font-size: 10px !important;
        }
        .divSliderContent {
                width: 228px !important;
        }
        .tblSlide div {
                width: 76px !important;
        }
        .tblSlide .count {
                font-size: 15px !important;
        }
        .tblSlide .title, .tblSlide .count {
                margin-left: 10px !important;
                width: 50px !important;
        }
        .tblSlide .title {
                font-size: 10px !important;
        }
        .geocoderSearch {
                display: none !important;
        }
        .shareMapURL {
                width: 200px;
        }
        .shareDialogTextarea {
                width: 300px !important;
        }
        .locateBox {
                display: none !important;
        }
        #mobileGeocoder {
                display: block;
        }
        #geocoderMobile .esriGeocoder {
                height: 35px;
        }
        #geocoderMobile .esriGeocoderContainer {
                width: 210px !important;
        }
        #geocoderMobile .esriGeocoder input {
                width: 75% !important;
                line-height: 30px;
        }
        #geocoderMobile .esriGeocoderIcon {
                margin: 9px 4px 0px 4px !important;
        }
        .esriAttribution {
                display: none !important;
        }
        #cp_outer_left {
                display: none;
        }
        .tblSlide {
                margin-top: 15px !important;
        }
        .divPagination {
                visibility: hidden;
        }
        #mobileSearch {
                height: 36px !important;
        }

}
