.parentContainer
{
    color:rgb(170,170,170);
}

.shareMenuHeaderText
{
    font-weight:bolder;
}

.shareInputEmbed
{

    height: 100px;
    border-collapse: collapse;
    vertical-align: middle;
    font-weight: normal;
    margin: 0 0 5px 0;
    border: 1px solid #CCC;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}


.shareEmbCode
{
    padding: 10px 10px 10px 0;
}

.dijitDialogTitleBar
{
    background-color:rgb(255,255,255) !important;
}

.dijitDialogCloseIcon
{
    background-image:none !important;
    border:none !important;

}

.dijitDialogPaneContent
{
    border:none !important;
}