.calcite .iconContainer {
	height:40px;
	margin:10px 0 20px;
}

.calcite .mapSizeLabel {
	float:left;
	font-size:15px;
	margin:0 5px 0 0;
}

.calcite .shareDialogIconClass {
	font-size:32px;
	float:left;
	color:#007ac2;
	cursor:pointer;
	margin:0 10px 0 0;
}

.calcite .shareMapURL {
	width:auto;
	min-width: 30%;
	max-width: 100%;
	height:25px;
	font-size:14px;
	color:#777;
	border:1px solid #dcdcdc;
	margin:0 0 20px;
}

.calcite .mapSizeContainer {
	margin:0;
	padding:0 0 20px 0;
}

.calcite .embedMapSizeClear {
	clear:both;
}

.calcite .embedMapSizeDropDown {
	float:left;
}

.calcite .shareDialogContent {
	max-height:400px;
	max-width:510px!important;
	min-width:240px!important;
	word-wrap:break-word;
}

.calcite .shareDialogSubHeader {
	font-size:19px;
	margin:0 0 5px;
}

.calcite .shareDialogTextarea {
	width:auto;
	max-width: 100%;
	height:60px;
	font-size:14px;
	color:#777;
	border:1px solid #dcdcdc;
	margin:0 0 20px;
}