.dijitDialog,.dijitDialogTitle {
	color:Gray!important;
}
.dijitDialog {
	box-shadow:-2px 2px 20px #333F47!important;
	-webkit-text-size-adjust:none !important;
}
.dijitDialogTitleBar {
	background-color:#fff!important;
	border-bottom-color:#eee!important;
}
.dijitDialogCloseIcon {
	font-size:25px;
	background-image:none !important;
	border:none !important;
	font-weight:100 !important;
	height:auto !important;
}
.dijitDialogPaneContent {
	max-height:550px!important;
	max-width:530px!important;
	overflow:auto;
	border:none!important;
}
.iconContainer {
	height:40px;
	margin:10px 0 20px;
}
.mapSizeLabel {
	float:left;
	font-size:15px;
	margin:20px 0 10px;
}
.dijitDialogTitle {
	font-size:24px!important;
	margin:0 0 0 10px;
}
.shareDialogIconClass {
	font-size:2em;
	float:left;
	color:#007ac2;
	cursor:pointer;
	margin:0 10px 0 0;
}
.shareMapURL {
	width:330px;
	height:25px;
	font-size:16px;
	color:Gray;
	border:1px solid #dcdcdc;
}
.embedMapSizeDropDown {
	float:left;
	margin:20px 0 10px 5px;
	padding:0 5px 0 0;
}
.shareDialogContent {
	height:400px;
	margin-left:15px;
	min-width:300px !important;
}
.shareDialogSubHeader {
	font-size:19px;
	margin:25px 0 5px;
}
.shareDialogTextarea {
	width:400px!important;
	height:50px;
	border:1px solid #dcdcdc;
	margin:0 95px 0 0;
}
.dijitDialogUnderlayWrapper,.dijitDialogUnderlay {
	background-color:#000!important;
	opacity:0.4!important;
}
