<div class="panel-expanded businesses" data-type="businesses">
    <div class="divHeader">
        <div class="bgColor divHeaderTitle"><span class="hTitle">Businesses:</span><span class="hNumber">${stats.BUS_Total}</span></div>
        <div class="divHeaderClose icon-cancel-1" title="close"></div>
        <div class="clear"></div>
    </div>
    <div class="divOuterSliderContainer">
        <div id="businesses" class="divGeoDataHolder">
            <!-- data blocks -->
            <div class="clear"></div>
        </div>
        <div class="dataSourceUrl">
            <a href="${stats.dataSourceUrl}" target="_blank">Source</a>
        </div>
    </div>
</div>