<div class="${theme}" role="presentation">
    <div data-dojo-attach-point="_buttonNode" title="${_i18n.widgets.ShareDialog.title}" role="button" data-dojo-attach-event="ondijitclick:toggle" class="${_css.container} ${_css.button}">
        <div class="${_css.icon}"></div>
    </div>
    <div data-dojo-attach-point="_dialogNode" class="dialogNode">
    <div class="${_css.shareDialogContent}">
        <div >${_i18n.widgets.ShareDialog.heading}</div>
        <div class="${_css.iconContainer}">
            <div class="${_css.facebookIcon}" data-dojo-attach-point="_facebookButton"></div>
            <div class="${_css.twitterIcon}" data-dojo-attach-point="_twitterButton"></div>
            <div class="${_css.gplusIcon}" data-dojo-attach-point="_gpulsButton"></div>
            <div class="${_css.emailIcon}" data-dojo-attach-point="_emailButton"></div>
        </div>
        <div class="${_css.shareDialogText}">${_i18n.widgets.ShareDialog.url}</div>
        <div>
            <input class="${_css.shareMapURL}"  type="text"  data-dojo-attach-point="_shareMapUrlText" readonly/>
        </div>
        <div class="${_css.shareDialogText}">${_i18n.widgets.ShareDialog.embed}</div>
        <div  class="${_css.embed}">
            <textarea data-dojo-attach-point="_embedNode" rows="5" cols="33" readonly></textarea>
        </div>
        <div class="${_css.shareDialogText}">${_i18n.widgets.ShareDialog.size}</div>
        <div class="${_css.embedMapSizeDropDown}">
            <select  data-dojo-attach-point="_comboBoxNode">
            </select>
        </div>
        </div>
    </div>
</div>
