<div class="${_css.divOuterSliderContainer}">
    <div data-dojo-attach-point="_sliderContainer" class="${_css.divSliderContainer}">
        <div class="${_css.divInnerSliderContainer}">
            <div class="${_css.divLeft}">
                <div data-dojo-attach-point="_sliderPageLeft" class="${_css.leftArrow} ${_css.disableArrow}" title="$(_i18n.widgets.Slider.previous}"></div>
            </div>
            <div data-dojo-attach-point="_sliderContentContainer" class="${_css.divSliderContent}">
                <div data-dojo-attach-point="_sliderContent" class="${_css.carousel} ${_css.slidePanel}"></div>
                <div data-dojo-attach-point="_sliderPagination" class="${_css.divPagination}"></div>
            </div>
            <div class="${_css.divRight}">
                <div data-dojo-attach-point="_sliderPageRight" class="${_css.rightArrow} ${_css.disableArrow}" title="$(_i18n.widgets.Slider.next}"></div>
            </div>
            <div class="${_css.clear}"></div>
        </div>
    </div>
</div>