<div class="parentContainer">
    <div class="{{css.shareMenuHeaderText}}">
      {{i18n.general.embedMap}}
    </div>
    <div id="shareEmbCode" class="shareEmbCode">
        <textarea data-dojo-type="dijit/form/SimpleTextarea" id="inputEmbed" rows='10' cols='30' style="width:auto;"> {{{textareavalue}}}</textarea>
    </div>
    <div  style=" float:left; padding-right:5px;">
       {{i18n.general.mapSize}}
    </div>
    <div>
        <select id="mapEmbedSize">
            {{{title}}}
        </select>
    </div>
</div>
